.profile-pic {
  margin-top: 5px;
  margin-bottom: 5px;
}

@media (max-width: 767.98px) {
    .basics {
        padding-left: 0;
    }

    .basics-name {
        padding-left: 5px;
        padding-right: 0;
    }

    .profile-pic-wrapper: {
        padding: 0;
    }
}

@media (min-width: 768px) {
   .profile-pic {
        max-width: 128px;
        max-height: 128px;
        width: 80%;
        height: auto;
   }

    .basics {
        padding-left: 30px;
    }
}

@media (min-width: 992px) {
  h1, h2, .profile-pic {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 992px) {
    h3 {
        margin-top: 5px;
        margin-bottom: 2px;
    }
}
li.basics-item > a {
    padding-top: 2px;
    padding-bottom: 2px;
}

.basics-item .icon, .profile-item .icon {
  position: absolute;
  top: 50%;
  margin-top: -10px;
}
.basics-pronouns {
    text-align: center;
}
.basics-pronouns > .basics-pronoun-item {
    padding-left: 0;
    vertical-align: middle;
    padding-right: 0;
}

li.basics-pronoun-item:first-of-type:before {
    content: '(';
}

li.basics-pronoun-item:after {
    content: '/';
}

li.basics-pronoun-item:last-of-type:after {
    content: ')';
}

.basics-item .info, .profile-item .info {
  position: relative;
  left: 30px;
  padding-right: 30px;
  vertical-align: middle;
}

.social-profiles .profile-item a {
  padding: 5px 15px;
  color: inherit;
  text-align: left;
}

@media (min-width: 768px) {
  .social-profiles .profile-item a {
    padding: 5px;
    text-align: center;
  }

  .profile-item .icon {
    position: static;
    margin-top: 0;
  }

  .profile-item .icon-lg {
    font-size: 2em;
  }
}

.network-github {
  color: #454545;
}

.network-twitter {
  color: #33ccff;
}

.network-linkedin {
  color: #007bb6;
}

.network-skype {
  color: #12a5f4;
}

.network-stackoverflow {
  color: #8e8e92;
}

.network-soundcloud {
  color: #e8822d;
}

.network-pinterest {
  color: #bd091f;
}

.network-vimeo {
  color: #17b3e8;
}

.network-behance {
  color: #2c98cf;
}

.network-codepen {
  color: #1c1c1c;
}

.network-foursquare {
  color: #fa4778;
}

.network-reddit {
  color: #545454;
}

.network-spotify {
  color: #acd200;
}

.network-dribbble {
  color: #ce366f;
}

.network-facebook {
  color: #4b6daa;
}

.network-angellist {
  color: #000000;
}

.network-bitbucket {
  color: #205081;
}
